this is markdown for writing like this select the markdown in code nav bar then write a statement after '# ' don't forget to give space after # and hit shift+enter

# This is introduction to python

In [66]:
print("Hello world")

Hello world

$a=b+c$

# variables and operators

In [67]:
# integer type
x = 2
print(type(x))

<class 'int'>

In [68]:
# float type
y = 7.2
print(type(y))

<class 'float'>

In [69]:
#multiple assignment
a,b = 4, 5.0
print(type(b))
print(type(a))

<class 'float'>
<class 'int'>

In [70]:
x = 3

In [71]:
#it shows all the variables assigned inthe memory right now
%whos

Variable   Type     Data/Info
-----------------------------
a          int      4
b          float    5.0
c          bool     True
d          bool     False
r          int      -3
s          str      hello prashant here
x          int      3
y          float    7.2
z          int      19

In [72]:
#delete any variable
del y,a

In [73]:
%whos

Variable   Type     Data/Info
-----------------------------
b          float    5.0
c          bool     True
d          bool     False
r          int      -3
s          str      hello prashant here
x          int      3
z          int      19

In [74]:
s = "hello prashant here"

In [75]:
print(type(s))

<class 'str'>

# operators

+ '+' Addition

- '-' Substraction

+ '/' Division

+ '%' mod

+ '*' multiplication

+ '//' floor division

+ '**' to the power of

In [76]:
%whos

Variable   Type     Data/Info
-----------------------------
b          float    5.0
c          bool     True
d          bool     False
r          int      -3
s          str      hello prashant here
x          int      3
z          int      19

In [77]:
#let's do some computation
print((3+b)**x)

512.0

In [78]:
10/3

3.3333333333333335

In [79]:
10//3

3

In [80]:
# if we do not assign data into any variable then there's a by default 
# variable '_' which assigns the last data we have decleared
_

3

# Booleans and Comparisons

== true,if it is equal to
!= true,if it is not equal to
< less than
> greater than
<= less than or equal to
>= greater than or equal to

# Bool type

In [81]:
a = True
b = True
c = False

In [82]:
print(a and b)
print(a and c)
print(b and c or a)

True
False
True

In [83]:
d = a or c
print(d)

True

In [84]:
not(d)

False

In [85]:
not(not(d))

True

In [86]:
type(d)

bool

 # comparisons

In [87]:
2<3

True

In [88]:
4>9

False

In [89]:
c = 4 < 6
print(type(c))
print(c)

<class 'bool'>
True

In [90]:
d = 3 == 4

In [91]:
print(d)

False

In [92]:
#here is is comparing the values and discarding the type of data
3 == 3.0

True

In [93]:
x = 4
y = 5
z =19
r = -3

In [94]:
(x>y) and (z == r)

False

In [95]:
False and False or True #because and has higher presidence than or

True

In [96]:
True or False and False

True

In [97]:
print((not(2!=3) and True) or (False and True))

False

# some useful functions

In [101]:
# round() function
print(round(5.2622)) #if digits after decimal < 5 it will round off to the previous number
print(round(5.6694)) #digits after decimal >= 5 will print next number

5
6

In [105]:
#round function are of two types
#some accepts two arguments too
#second argument is for the number of digits to round of after decimal
round(5.6344, 2)

5.63

In [106]:
# divmod(x,y) function outputs the quotient and the remainder in a tuple
divmod(22,10)

(2, 2)

In [107]:
divmod(10,5)

(2, 0)

In [109]:
#isinstance() returns either true or false and it checks the data is of particual datatype or not
isinstance(1,float)

False

In [110]:
isinstance(3,int)

True

In [111]:
isinstance(3.69,(float,int))

True

In [112]:
isinstance(2+3j,(float,int))

False

In [113]:
isinstance(2+3j,(complex, float, int))

True

In [114]:
#pow() calculates the power
pow(2,4)

16

In [115]:
2**4

16

In [117]:
pow(2,4,6) # 2**4 % 6

4

In [120]:
#input() function to take the input from user
a = input("enter a number: ")

enter a number: 2

In [121]:
# by default python takes all inputs in string type
type(a)

str

In [125]:
#convert string type to integer
a = int(a)
type(a)

int

In [127]:
#we can set the data type for input data during input by type casting
x = float(input("ennter a real number: "))

ennter a real number: 289.28

In [128]:
type(x)

float

In [134]:
 #to check the details about that function
input??

# control flow

### if confition

In [136]:
a = int(input("enter a "))
b = int(input("enter b "))
if a>b:
    print(a)
    print("inside the if condition")
print("I am outside of if condition")

enter a 4
enter b 2
4
inside the if condition
I am outside of if condition

### if-else

In [137]:
a = int(input("enter a "))
b = int(input("enter b "))
if a>b:
    print(a)
    print("inside the if condition")
else:
    print(b)
    print("inside the else condition")

enter a 3
enter b 9
9
inside the else condition

### if-elif-else

In [140]:
a = int(input())
b = int(input())
if a>b:
    print(a)
    print("if part")
elif a==b:
    print(a,b)
    print("el-if part")
else:
    print(b)
    print("else part")

9
3
9
if part

### nested if else

In [144]:
a = int(input())
if a>b:
    print(">10")
    if a>20:
        print(">20")
        print("nested if")
    else:
        print("<=20")
        print("inside else of nested if")
print("out of all the ifs")

13
>10
<=20
inside else of nested if
out of all the ifs

In [153]:
# single line comment 

"""
user will enter a floating point number let say 238.915. your task
is to find out the integer portion before the point (in this case 238)
and then check if that integer portion is an even number or not?
"""
x = float(input("enter a real number: "))
x = int(x)
print(x)
if x%2 == 0:
    print("even")
else:
    print("odd")

enter a real number: 0.24
0
even

## Loops

In [156]:
# while loop
n = int(input("max iterations : "))
i = 1;
while i <= n:
    print(i)
    i += 1;
print("done")

max iterations : 5
1
2
3
4
5
done

In [164]:
i = 1
while True:
    if i % 17 == 0:
        print('inside if')
        break
    else:
        i += i+1
        continue
        print("after continue")
        print("inside else")
        break
print("out of the loop")

inside if
out of the loop

In [166]:
# for loop
l = []
for i in range(10):
    print(i+1)
    l.append(i**2)
print(l)

1
2
3
4
5
6
7
8
9
10
[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [168]:
l = [] #list
for i in range(0,10,2): #three aruments in range functions means start
                        # from 0 till 10 and at each iteration jump i 
                        # to next 2 value of it
    print(i+1)
    l.append(i**2)
print(l)

1
3
5
7
9
[0, 4, 16, 36, 64]

In [174]:
s = {"apple", 4.9, "cherry"} #set
for x in s:
    print(x)
else:
    print("loop completes")
print("out of loop")

cherry
4.9
apple
loop completes
out of loop

In [177]:
s = {"apple", 4.9, "cherry"} #set
i = 1;
for x in s:
    print(x)
    i += 1
    if i == 3:
        break
    else:
        pass
else:
    print("loop completes")
print("out of loop")

cherry
4.9
out of loop

In [179]:
D = {"A":10, "B":-19, "C":30} #Dictionarry
for x in D:
    print(x,D[x])

A 10
B -19
C 30

In [201]:
"""
Given a list of numbers i.e. [1,2,4,-5,7,9,3,2], make another list
that contains all the items in sorted order from min to max. i.e. your
result will be another list like [-5,1,2,2,3,4,7,9]
"""
L = [1,2,4,-5,7,9,3,6]
temp = 0

# selection sort
for i in range(0, len(L)-1, 1):
    for j in range(i+1, len(L), 1):
        if (L[j] < L[i]):
            temp = L[j]
            L[j] = L[i]
            L[i] = temp
print(L)

[-5, 1, 2, 3, 4, 6, 7, 9]

# Functions

In [204]:
def printSuccess():
    print("the task is successful")
    print("moving to the next task")
    print("send me the next task")
    
printSuccess()

the task is successful
moving to the next task
send me the next task

In [206]:
def add(x,y):
    c = x + y
    return c
add(4,8)

12

In [207]:
#handle arbitary numbers of arguments in function
def add(*args):
    sum = 0
    for i in range(len(args)):
        sum += args[i]
    return sum

In [211]:
add(3,5,2,1,5,7)

23

In [217]:
#handle arbitary numbers of arguments in ordered way in function
def fun(**c):
    for x in c:
        print(x,c[x])

In [219]:
fun(a ='a',b = 'b',c ='c')

a a
b b
c c

# Modules